<a href="https://colab.research.google.com/github/thiramet27/cos3109-week2/blob/main/Lab_cos3109_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 2. Print the second item in the fruits list
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [2]:
# 3. Change the value from “apple” to “kiwi”, in the fruits list
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [3]:
# 4. Use the append method to add “orange” to the fruits list
fruits.append("orange")
print(fruits)

['kiwi', 'banana', 'cherry', 'orange']

In [4]:
# 5. Use the insert method to add “lemon” as the second item in the fruits list
fruits.insert(1, "lemon")
print(fruits)

['kiwi', 'lemon', 'banana', 'cherry', 'orange']

In [5]:
# 6. Use the remove method to delete “banana” from the fruits list
fruits.remove("banana")
print(fruits)

['kiwi', 'lemon', 'cherry', 'orange']

In [6]:
# 7. Print “Hello World” if a is greater than b
a = 50
b = 10
if a > b:
    print("Hello World")

Hello World

In [7]:
# 8. Print “Hello World” if a is not equal to b
if a != b:
    print("Hello World")

Hello World

In [8]:
# 9. Print “Yes” if a is equal to b, otherwise print “No”
if a == b:
    print("Yes")
else:
    print("No")

No

In [9]:
# 10. Print “1” if a is equal to b, print “2” if a is greater than b, otherwise print “3”
if a == b:
    print("1")
elif a > b:
    print("2")
else:
    print("3")

2

In [10]:
# 11. Print “Hello” if a is equal to b, and c is equal to d
c = 20
d = 20
if a == b and c == d:
    print("Hello")

In [11]:
# 12. Print “Hello” if either a is equal to b, or c is equal to d
if a == b or c == d:
    print("Hello")

Hello

In [12]:
# 13. Print i as long as i is less than 6
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [13]:
# 14. From #13 stop the loop if i is 3
i = 1
while i < 6:
    if i == 3:
        break
    print(i)
    i += 1

1
2